body {
  background-color: #CEC3C1;
}

.Day-Line {
  width: 90%;
  height: 100px;
  position: absolute;
  left: 5%;
  top: 40px;
  border: 0.1em solid black;
}

.Day-Body {
  width: 90%;
  height: 1200px;
  position: absolute;
  left: 5%;
  top: 180px;
  border: 0.1em solid black;
}

.hour {
  background-color: #064E86;
  position: absolute;
  width: 85%;
  height:  95px;
  left: 15%;
}

.hour.AM {
  top: 43px;
}

.hour.PM {
  top: 328px;
}
