body {
  background-color: #CEC3C1;
}

div {
  position: relative;
}

.Day-Line {
  width: 90%;
  height: 100px;
  position: absolute;
  left: 5%;
  top: 40px;
  border: 0.1em solid black;
}

.Day-Body {
  width: 90%;
  height: 1200px;
  position: absolute;
  left: 5%;
  top: 180px;
  border: 0.1em solid black;
}

.hour {
  background-color: #F2DD6E;
  -webkit-box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  position: relative;
  width: 85%;
  height:  95px;
  left: 15%;
}
